async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
paho-mqtt==2.1.0 ; python_version >= "3.10"
python-dotenv==1.1.0 ; python_version >= "3.10"
redis==6.2.0 ; python_version >= "3.10"

-e ./subscriber
-e ./events
