displayhatmini==0.0.2 ; python_version >= "3.10"
gpiod==2.3.0 ; python_version >= "3.10"
gpiodevice==0.0.5 ; python_version >= "3.10"
markdown-it-py==3.0.0 ; python_version >= "3.10"
mdurl==0.1.2 ; python_version >= "3.10"
ndeflib==0.3.3 ; python_version >= "3.10"
numpy==2.2.6 ; python_version >= "3.10"
paho-mqtt==2.1.0 ; python_version >= "3.10"
pygame==2.6.1 ; python_version >= "3.10"
pygments==2.19.1 ; python_version >= "3.10"
pyscard==2.2.2 ; python_version >= "3.10"
python-dotenv==1.1.0 ; python_version >= "3.10"
rich==14.0.0 ; python_version >= "3.10"
rpi-gpio==0.7.1 ; python_version >= "3.10"
spidev==3.7 ; python_version >= "3.10"
st7789==1.0.1 ; python_version >= "3.10"
typing-extensions==4.13.2 ; python_version == "3.10"
-e ../common/events
-e ../common/publisher
