adafruit-blinka==8.58.1 ; python_version >= "3.10"
adafruit-circuitpython-busdevice==5.2.12 ; python_version >= "3.10"
adafruit-circuitpython-connectionmanager==3.1.4 ; python_version >= "3.10"
adafruit-circuitpython-pn532==2.4.4 ; python_version >= "3.10"
adafruit-circuitpython-requests==4.1.12 ; python_version >= "3.10"
adafruit-circuitpython-typing==1.12.1 ; python_version >= "3.10"
adafruit-platformdetect==3.79.0 ; python_version >= "3.10"
adafruit-pureio==1.1.11 ; python_version >= "3.10"
binho-host-adapter==0.1.6 ; python_version >= "3.10"
displayhatmini==0.0.2 ; python_version >= "3.10"
gpiod==2.3.0 ; python_version >= "3.10"
gpiodevice==0.0.5 ; python_version >= "3.10"
markdown-it-py==3.0.0 ; python_version >= "3.10"
mdurl==0.1.2 ; python_version >= "3.10"
ndeflib==0.3.3 ; python_version >= "3.10"
numpy==2.2.6 ; python_version >= "3.10"
paho-mqtt==2.1.0 ; python_version >= "3.10"
pyftdi==0.56.0 ; python_version >= "3.10"
pygame==2.6.1 ; python_version >= "3.10"
pygments==2.19.1 ; python_version >= "3.10"
pyscard==2.2.2 ; python_version >= "3.10"
pyserial==3.5 ; python_version >= "3.10"
python-dotenv==1.1.0 ; python_version >= "3.10"
pyusb==1.3.1 ; python_version >= "3.10"
rich==14.0.0 ; python_version >= "3.10"
rpi-gpio==0.7.1 ; python_version >= "3.10"
spidev==3.7 ; python_version >= "3.10"
st7789==1.0.1 ; python_version >= "3.10"
sysv-ipc==1.1.0 ; sys_platform == "linux" and platform_machine != "mips" and python_version >= "3.10"
toml==0.10.2 ; python_version == "3.10"
typing-extensions==4.13.2 ; python_version >= "3.10"

-e ./events
-e ./publisher
